@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

html {
  scroll-behavior: smooth;
}



/* HomePage */
.mainDiv {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;


}



.Slogan {
  -webkit-animation: focus-in-expand-fwd 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand-fwd 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* About us */
.aboutUsDiv {
  background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}